/*header*/

.header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 100px;
    padding: 0 30px;
  }
  
  /* nav bar stuff */ 
  .navbar {
    margin-right: 50px;
  }
  
  .navbar ul {
    display: flex; 
  }
  
  .navbar ul li {
    position: relative; 
    margin-right: 20px; 
    padding-bottom: 2px;  
  }
  
  .navbar a {
    font-family: 'Trebuchet MS'; 
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  /* Logo */
  .logo {
    width: 70px;
    height: auto;
    }
  
  .logo img {
    display: block;
    width: 100%;
    height: auto;
    }
  
    htm {
      box-sizing:border-box}
  
  *,*:before,*:after{
      box-sizing:inherit}
  
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  body {
      background-color: black;
      color: white;
  }
  
  h1 {
    font-family:'Trebuchet MS';
    font-size: 50px;
    z-index: 10;
    margin: 60px;
    text-transform: uppercase;
  }
  
  h2 {
    font-family: 'Trebuchet MS';
    font-size: 20px; 
    z-index: 10;
  }
  
  h3 {
    font-family: 'Trebuchet MS';
    font-size: 40px; 
    z-index: 10;
  }
  
  p {
      margin: 20px;
      font-family: 'Trebuchet MS';
    }
    
    a {
      font-family: 'Courier New', Courier, monospace;
      text-decoration: none;
      color: white;
    }
    
    a:hover {
      color: grey;
    }
    
    ul {
      list-style: none; 
    }
    
    li {
      text-decoration: none;
    }
    
  
  /* to fix intro to be in center*/ 
  .about-section {
    text-align: center; 
    font-family: 'Trebuchet';
    margin-top: 70px;
  }
  
  /*rows and column stuff*/ 
  .row {
  margin-left:10px;
  padding: 50px; 
  }

  .row ul{
    list-style: inside square;
  }

.list {
  background-color: rgba(70, 85, 135, 0.4);
  border-radius: 10px;
}
  .row p{
    background-color: rgba(70, 85, 135, 0.4);
    border-radius: 10px;
  }

  .columnI {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    text-align: center;
    padding: 0 10px;
  }

  .columnT {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 10px;
  }
  
    /* footer */

@media screen and (max-width: 900px) {
    .columnT, .columnI {
        width: 100%;
        display: block;
        }
      }